body
  background-color: #fff
  color: black

.header
  background: blue
  height: 100%

section
  background: #444
  outline: 1px red solid

.portfolio-box
  position: relative
  margin-right: 10px
  margin-bottom: 10px
  > .overlay
    display: none
    position: absolute
    background-color: red
    width: 100%
    top: 0
    bottom: 0
    left: 0
    right: 0
  &:hover 
    > .overlay
      display: block

